.todoView {
  width: 400px;
  margin: 0 auto;
  padding: 0;
}

.todoItem {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #ccc;
}

.delete {
  margin-left: 20px;
  cursor: pointer;
}