.todoFooter {
  color: #777;
  margin-top: 20px;
}

.actions {
  display: inline-block;
}

.actions span {
  padding: 4px;
  margin-left: 20px;
  cursor: pointer;
}

.actions span.active {
  border: 1px solid gray;
  border-radius: 3px;
}